@font-face {
    font-family: 'Noto Sans KR';
    src: url('/static/fonts/NotoSansKR-VariableFont_wght.ttf') format('trutype');
    font-weight: 100 800;
}

@media (max-width: 480px) {
  html {
    font-size: 48px;
  }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 16, 16);
    color: rgb(239, 239, 239);
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(239, 239, 239);
}

hr {
    background-color: rgb(239, 239, 239);
    height: 0.0625rem;
    border: 0;
}

p {
    margin: 0;
}

input {
    outline: none;
}

input[type="text"],
input[type="password"] {
    background-color: rgb(16, 16, 16);
    color: rgb(239, 239, 239);
    width: 100%;
    max-width: 16rem;
    border: 0.125rem solid rgb(239, 239, 239);
    border-radius: 0.5rem;
    padding: 1rem;
}

.navbar {
    padding: 0.5rem;
    border-bottom: 0.125rem solid rgb(239, 239, 239);
}

.navbar-title {
    border-radius: 1rem;
    display: inline-block;
    font-weight: 800;
    font-size: 2rem;
    margin: auto 0.5rem;
    padding: 0.5rem 1rem;
}

.navbar-title:hover {
    background-color: rgb(48, 48, 48);
}

.navbar-element {
    display: inline-block;
    border-radius: 0.5rem;
    margin: auto 0.25rem;
    padding: 0.5rem 1rem;
}

.navbar-element:hover {
    background-color: rgb(48, 48, 48);
}

.main {
    padding: 3rem
}

.box{
    border: 0.125rem solid rgb(239, 239, 239);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}

.box-clickable {
    border: 0.125rem solid rgb(239, 239, 239);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
}

.box-clickable:hover {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}

.error {
    text-align: center;
    font-size: 1rem;
    color: red;
}

.login-form {
    border: 0.125rem solid rgb(239, 239, 239);
    border-radius: 1rem;
    max-width: 32rem;
    min-width: 8rem;
    margin: 8rem auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__title {
    text-align: center;
    margin: 2rem
}

.login-form__password-box {
    margin: 0.5rem
}

.login-form__password-box:hover {
    background-color: rgb(48, 48, 48);
}

.login-form__login-button {
    background-color: rgb(16, 16, 16);
    color: rgb(239, 239, 239);
    text-align: center;
    max-width: 100%;
    border: 0.125rem solid rgb(239, 239, 239);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 3rem 0 2rem;
}

.login-form__login-button:hover {
    cursor: pointer;
    background-color: rgb(48, 48, 48);
}