<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Milmi</title>
    <script src="static/script.js" defer></script>
    <link rel="icon" href="static/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% include "partials/redirect.html" %}
</head>
<body>
    {% include "partials/navbar.html" %}
    <div class="main">
        {% include "partials/messageBox.html" %}
        <form class="loginForm" method="POST">
            <h1 class="formTitle">Login</h1>
            <input type="password" class="passwordBox" name="password" autocomplete="current-password" placeholder="password"><br>
            <button type="submit" class="loginButton">Login</button>
        </form>
    </div>
</body>
</html>