<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    {% include 'partials/alerter.html' %}
</head>
<body>
    {% if message %}
        <div class = "message">
            {{message}}
        </div>
    {% endif %}
    <p>hello!</p>
    <a href="/auth">
        <div class="box">get authorization</div>
    </a>
</body>
</html>